body{
    position: relative;
    width:100vw;
    overflow-x: hidden;
}

.w-full{
    width:100%;
}

#rotationSquare{
    position: absolute;
    border: 0px solid red;
    top:-150px;
    aspect-ratio: 1;
    width: 1250px;
    padding:0;
    overflow: hidden;
    transform: rotate(-90deg);
    transform-origin:center center;
    transition: 0;
    opacity:0;
    left:0;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

#rotationSquare .container{
    padding: 0;
    position:relative;
    width:100%;
    aspect-ratio: 1;
    margin:0;
}

#rotationSquare img:nth-child(1){
    transform:rotate(90deg);
    position:absolute;
    border:0px solid blue;
    /* right: calc(50% - 178px); */
    top:0;
}

#rotationSquare img:nth-child(2){
    transform: rotate(0deg);
    position:absolute;
    border:0px solid blue;
    /* top: 457px; */
    left:0;    
}

#rotationSquare img:nth-child(3){
    transform:rotate(-90deg);
    position:absolute;
    border:0px solid blue;
    bottom:0;
    /* left: calc(50% - 178px); */
}

.single-color-option{
    width:30px;
    height:30px;
    display:inline-block;
    border-radius:100px;
    position:relative;
    margin-left:20px;
    margin-bottom:20px;
    cursor:pointer;
}

.single-color-option::before{
    position:absolute;
    content: '';
    width:40px;
    height:40px;
    left:-5px;
    top:-5px;
    border-radius:100px;
    border-width: 2px;
}

.single-color-option.Sport::before{
    border-style:double;
}

.single-color-option.Milanese::before{
    border-style:dotted dashed dotted dashed;
}

@media screen and (max-width:550px) {
    .h-full{
        height:50vh !important;
    } 

     p{
        display: none;
    }

    .single-color-option{
        width: 20px;
        height:20px;
        margin-bottom: 20px;
    }

    .single-color-option::before{
        width: 26px;
        height:26px;
        left:-3px;
        top:-3px;
    }

    #mydummyDiv{
        width:250px !important;
        margin-top:100px;
    }
}